:root {
  --violet-creme: #fff2fc;
  --blue: #212633;
  --black: #121212;
  --yellow: #d6ba6f;
  --violet: #9a37e8;
  --poppins: 'Poppins', sans-serif;
  --norican: 'Norican', sans-serif;
  --text-shadow: 5px 3px 6px rgba(0,0,0,.5); 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99; /*Para que quede por encima del resto de las cosas*/
  /*Efecto de Glassmorphismo*/
  background: #000;
  opacity: .5;
  display: none;
}

/* SOY RODRI DEL PASADO MARCANDO EL OPEN-MENU */

.show-overlay {
  display: block;
}

@keyframes slide-down {
  from {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
}

}

  /* Animacion slide derecha */ 
  @keyframes slide-right {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Animacion slide izquierda */
  @keyframes slide-left {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade {
    0%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



.navbar-list .link:hover {
  color: var(--violet);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.bg-violet .link:hover {
  color: var(--blue);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.navbar {
  opacity: 0;
  animation: fade 1s ease-in forwards, slide-down 0.9s ease-in-out;
  animation-delay: 0.5s;
  -webkit-animation: fade 1s ease-in forwards, slide-down 0.9s ease-in-out;
}

.animate-boxes {
  animation: fade 2s;
}

/* Hover a los servicios */
.card:hover .card-description > .card-info {
  display: block;
  /* animation: slide-up 1s; */
}

.card:hover .card-description {
  animation: slide-up .5s;
}

/* Testimonios */
.animate-chat1{
  animation: slide-left 1s;
}

.animate-chat2 {
  animation: slide-down 1s;
}

.animate-chat3 {
  animation: slide-right 1s;
}


/* BOTONES */

.button-violet:hover {
  background: var(--violet-creme);
  color: var(--violet);
  border: 1px solid var(--violet-creme);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.button-white:hover {
  background: var(--violet);
  color: var(--violet-creme);
  border: 1px solid var(--violet-creme);
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
