:root {
  --violet-creme: #fff2fc;
  --blue: #212633;
  --black: #121212;
  --yellow: #d6ba6f;
  --violet: #9a37e8;
  --poppins: 'Poppins', sans-serif;
  --norican: 'Norican', sans-serif;
  --text-shadow: 5px 3px 6px rgba(0,0,0,.5); 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99; /*Para que quede por encima del resto de las cosas*/
  /*Efecto de Glassmorphismo*/
  background: #000;
  opacity: .5;
  display: none;
}

/* SOY RODRI DEL PASADO MARCANDO EL OPEN-MENU */

.show-overlay {
  display: block;
}

  @keyframes slide-down {
    from {
      transform: translateY(-100px);
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);
}
    to {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}
}

  /* Animacion slide derecha */ 
  @keyframes slide-right {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Animacion slide izquierda */
  @keyframes slide-left {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



.navbar-list .link:hover {
  color: var(--violet);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.bg-violet .link:hover {
  color: var(--blue);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.navbar {
  opacity: 0;
  animation: fade 1s ease-in forwards, slide-down 0.9s ease-in-out;
  animation-delay: 0.5s;
  -webkit-animation: fade 1s ease-in forwards, slide-down 0.9s ease-in-out;
}

.hero-info {
  opacity: 0;
  animation-delay: 0.5s;
  animation: fade 1.5s ease-in forwards;
  -webkit-animation: fade 1.5s ease-in forwards;
}

.about-me-info {
  opacity: 0;
}

/* Hover a los servicios */
.card:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

/* Testimonios */

.chat-1,
.chat-2,
.chat-3 {
  opacity: 1;
}

/* BOTONES */

.button-violet:hover {
  background: var(--violet-creme);
  color: var(--violet);
  border: 1px solid var(--violet-creme);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.button-white:hover {
  background: var(--violet);
  color: var(--violet-creme);
  border: 1px solid var(--violet-creme);
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
