@media (max-width: 1024px) {

    i.icon-menu {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    .menu-responsive {
        display: flex;
        flex-direction: column;
        gap: 120px;
        justify-content: start;
        text-align: end;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--violet);
        height: 100vh;
        z-index: 100;
        padding: 30px;
        width: 50%;
        transform: translateX(200%);
        transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    }

    /* Toggle del menu */
    .open-menu {
        transform: translateX(0%);
        transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    }


    .icon-close {
        color: var(--violet-creme);
        text-align: end;
        font-size: 25px;
        cursor: pointer;
    }

    .navbar-list-r {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: end;
        font-size: 18px;
    }

    .btn-navbar-list-r {
        text-align: center;
    }

    .btn-navbar-list,
    .navbar-list {
        display: none;
    }

    .about-me-info {
        width: 80%;
    }

    /* Servicios */
    .card {
        width: 45%;
    }

    #contact-me {
        justify-content: center;
    }

    
    .contact-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 60%;
    }

    .contact  {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: flex-start;
        justify-content: center;
    }

}



@media (max-width: 700px) {
    
    .header-top {
        padding: 0 10px;
        justify-content: center;
    }

    .header-top span {
        font-size: 12px;
    }

    /* Navbar */

    .navbar {
        padding: 0 30px;
    }
    
    .navbar-responsive {
        width: 50%;
    }

    .service-cards .card{
        width: 100%;
    }

    /* Hero */

    .hero-title {
        font-size: 50px;
    }
    
    .title-section {
        gap: 10px;
    }
    .title-section h2{
        font-size: 50px;
        line-height: 50px;
    }
    
    .divisor-text {
        font-size: 10px;
        padding: 0 50px;
    }

    /* ABOUT-ME */

    .about-me-info {
        width: 100%;
    }

    /* TESTIMONIOS */

    .chats {
        flex-direction: column;
        padding: 0 30px;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
    
    .paragraph-container {
        width: 100%;
    }

    #contact-me {
        padding: 50px 10px;
    }

    .title-description {
        padding: 0 50px;
        font-size: 16px;
    }

    .contact-container {
        width: 90%;
    }

    .pay-img {
        width: 100%;
    }

    .footer-bar {
        font-size: 12px;
    }

    .footer-bottom-text {
        font-size: 10px;
    }
}